*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #0A1325;
    overflow-x: hidden;
}

/* BLOCO 1 */
.bloco-1{
    background-image: url('imgs/bg-1.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 15%;
}

.bloco-1 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: auto;
    padding: 75px 30px;
}

.bloco-1 .container img{
    width: 20%;
    margin-left: auto;
}

.bloco-1 .container h1{
    color: #fff;
    font-size: 7em;
    font-weight: 600;
    line-height: 90%;
}

.bloco-1 .container h2{
    color: #E20E46;
    font-size: 3em;
    font-weight: 400;
    padding: 15px 0;
    letter-spacing: 2px;
}

.bloco-1 .container .astro{
    animation: test 26s infinite;
    animation-timing-function: ease;
    width: 100%;
    z-index: 1;
}

@keyframes test {
    0%    { transform: translateX(0px) }
    50%   { transform: translateX(50%) }
    100%  { transform: translateX(0px) }
}

.bloco-1 .container .astro #astro{
    margin-left: 0;
    width: 200px;
    animation: teste 18s infinite;
    animation-timing-function: linear;
    margin-top: 50px;
}

@keyframes teste {
      0%  { transform: rotate(0deg) translateY(100px) rotate(0deg) scale(1) }
     50%  { transform: rotate(180deg) translateY(100px) rotate(180deg) scale(1.3) }
    100%  { transform: rotate(360deg) translateY(100px) rotate(360deg) scale(1) }
}

.bloco-1 .container #seta{
    width: 150px;
    animation: seta 3s infinite;
}

@keyframes seta {
     0%  { transform: translate(-200px, -200px) }
    50%  { transform: translate(-225px, -50px) }
   100%  { transform: translate(-200px, -200px) }
}