*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #0A1325;
    overflow-x: hidden;
}

#body.active{
    filter: blur(5px);
}

/* BLOCO 1 */
.bloco-1{
    background-image: url('imgs/bg-1.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 15%;
}

.bloco-1 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: auto;
    padding: 75px 30px;
}

.bloco-1 .container #logo{
    width: 20%;
    min-width: 175px;
    margin-left: auto;
}

.bloco-1 .container h1{
    color: #fff;
    font-size: 7em;
    font-weight: 600;
    line-height: 90%;
}

.bloco-1 .container h2{
    color: #E20E46;
    font-size: 3em;
    font-weight: 400;
    padding: 15px 0;
    letter-spacing: 2px;
}

.bloco-1 .container h2 .typed-cursor, .bloco-2 .container h1 .typed-cursor{
    animation-duration: 1.2s;
}

.bloco-1 .container .astro{
    animation: astro-1 26s infinite;
    animation-timing-function: ease;
    width: 100%;
    z-index: 1;
    margin-left: auto;
}

@keyframes astro-1 {
    0%    { transform: translateX(0px) }
    50%   { transform: translateX(50%) }
    100%  { transform: translateX(0px) }
}

.bloco-1 .container .astro #astro{
    margin-left: 0;
    width: 200px;
    animation: astro-2 18s infinite;
    animation-timing-function: linear;
    margin-top: 50px;
}

@keyframes astro-2 {
      0%  { transform: rotate(0deg) translateY(100px) rotate(0deg) scale(1) }
     50%  { transform: rotate(180deg) translateY(100px) rotate(180deg) scale(1.3) }
    100%  { transform: rotate(360deg) translateY(100px) rotate(360deg) scale(1) }
}

.bloco-1 .container #seta{
    width: 150px;
    animation: seta 3s infinite;
    margin-left: auto;
}

@keyframes seta {
     0%  { transform: translate(-200px, -200px) }
    50%  { transform: translate(-225px, -50px) }
   100%  { transform: translate(-200px, -200px) }
}

/* BLOCO 1: medias */
@media only screen and (max-width: 870px){
    .bloco-1 .container #logo{
        margin-left: 0;
        margin-right: auto;
        padding-bottom: 30px;
    }

    .bloco-1 .container h1{
        font-size: 3em;
        font-weight: 600;
        line-height: 90%;
    }

    .bloco-1 .container h2{
        font-size: 2.3em;
        font-weight: 400;
        padding: 15px 0;
        letter-spacing: 2px;
    }

    .bloco-1 .container .astro #astro{
        width: 100px;
        margin-top: 10px;
    }

    .bloco-1 .container #seta{
        width: 100px;
        animation: seta-mob 3s infinite;
    }
    
    @keyframes seta-mob {
         0%  { transform: translate(0px, -150px) }
        50%  { transform: translate(-25px, -50px) }
       100%  { transform: translate(0px, -150px) }
    }
}

/* BLOCO 2 */
.bloco-2 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: auto;
    margin-top: auto;
    padding: 0px 30px;
}

.bloco-2 .container h1{
    color: #FF0646;
    margin: auto 0;
    font-size: 4em;
}

/* BLOCO 3 */
.bloco-3 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: 25% auto;
    padding: 0px 30px;
}

.bloco-3 .container h1{
    color: #fff;
    font-size: 4em;
}

.bloco-3 .container h1 span{
    font-size: 3em;
}

.bloco-3 .container .typed-cursor{
    animation-duration: 1.5s !important;
}

/* BLOCO 4 */
.bloco-4{
    overflow: hidden;
}

.bloco-4 .container .faixa{
    background-image: url(imgs/bg-2.png);
    background-size: contain;
    animation: bg-faixa 25s infinite;
    animation-timing-function: linear;
}

@keyframes bg-faixa {
    from {background-position: 0 0;}
    to   {background-position: 100% 0;}
}

.bloco-4 .container .faixa h1{
    animation: faixa 4s infinite;
    animation-timing-function: linear;
    font-size: 14em;
    font-weight: 900;
    font-style: italic;
    width: max-content;
    color: #0A1325;
}

@keyframes faixa {
      0%    {transform: translateX(-0%);}
    100%    {transform: translateX(-33.8%);}
}

/* BLOCO 5 */
.bloco-5 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: 15% auto;
    padding: 0px 30px;
}

.bloco-5 .container h1{
    color: #FF0646;
    margin: auto 0;
    font-size: 3em;
}

/* BLOCO 6 */
.bloco-6 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: 0 auto;
    padding: 0px 30px;
}

.bloco-6 .container p{
    font-size: 2.5em;
    font-weight: 300;
    color: #FF0646;
}

.bloco-6 .container a{
    font-size: 6em;
    font-weight: 700;
    text-decoration: none;
    color: #484D56;
    line-height: 100%;
    width: fit-content;
    transition: 0.2s;
}

.bloco-6 .container a:hover{
    transform: translateX(50px);
}

.bloco-6 .container #a-1:hover{
    color: #EBB02A;
}

.bloco-6 .container #a-2:hover{
    color: #E27E2C;
}

.bloco-6 .container #a-3:hover{
    color: #FF0646;
}

/* BLOCO 7 */
.bloco-7 .container{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: auto;
    margin-top: 20%;
    padding: 0px 30px;
}

.bloco-7 .container h1{
    color: #484D56;
    font-size: 3em;
}

/* BLOCO 8 */
.bloco-8{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: auto;
    margin-top: 0%;
    padding: 0px 30px;
}

.bloco-8 h2{
    color: #484D56;
    font-size: 12em;
    line-height: 80%;
}

.bloco-8 h1{
    color: #484D56;
    font-size: 3em;
}

/* BLOCO 9 */
.bloco-9{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: 75vh;
    margin: auto;
    margin-top: 15%;
    padding: 0px 30px;
}

.bloco-9 h1{
    color: #484D56;
    font-size: 3em;
}